@import '../../../assets/sass/modules/mixins.scss';

.sidebarMenu {
    .sidebarContainer {
        .navigationRight {
            display: flex;
            flex-direction: column;
            padding-left: 0;
            margin: 0;
            list-style: none;
            .menuListItems {
                padding: 5px 15px 0 15px;
                margin: 0 -15px;
                &:hover {
                    background-color: #edeeee;
                }
                .items {
                    font-size: 16px;
                    text-transform: uppercase;
                    font-weight: 600;
                    text-decoration: none;
                    &:hover {
                        &::after {
                            background-color: #0078ff;
                            width: 35px;
                        }
                    }

                    &::after {
                        content: '';
                        margin: .5rem 0 0;
                        display: block;
                        height: 2px;
                        width: 0;
                        background: transparent;
                        transition: width .5s ease, background-color .5s ease;
                    }

                    &.active {
                        &::after {
                            background-color: #0078ff;
                            width: 35px;
                        }
                    }
                    
                    span {
                        color: #0078ff;
                    }         
                }
            }
        }
    }
}

@include breakpoint(mobile) {
    .sidebarMenu {
        .sidebarContainer {
            .navigationRight {
                .menuListItems {
                    .items {
                        font-size: 14px;
                    }
                }
            }
        }
    }
}