@import '../../../../assets/sass/modules/mixins.scss';

.section {
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: center center;
    height: 100vh;
    position: relative;
    color: #fff;
    display: block;
    overflow: hidden;

    .overlay {
        background-color: rgba(0, 0, 0, 0.6);
        position: absolute;
        top: 0;
        left: 0px;
        padding: 0;
        height: 100%;
        width: 100%;
        opacity: .9;
    }

    .container {
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        position: absolute;
        .content {
            width: 100%;
            padding-right: 15px;
            padding-left: 15px;
            margin-right: auto;
            margin-left: auto;
            .title {
                color: #fff;
                font-weight: 600;
                font-size: 4.5rem;
                margin-bottom: 1.5rem;
                font-family: inherit;
                line-height: 1.2;
            }

            .subtitle {
                font-size: 2.5rem;
                font-weight: 300;
                margin-top: 0;
                margin-bottom: 1rem;
            }
        }
    }
}

@include breakpoint(mobile) {
    .section {
        .container {
            .content {
                .title {
                    font-size: 3rem;
                }

                .subtitle {
                    font-size: 1.5rem;
                }
            }
        }
    }
}