@import '../../../assets/sass/modules/mixins.scss';

.streetMaps {
    padding: 4rem 0;
    .blockContent {
        position: relative;
        min-height: 1px;
        padding: 0 15px;
        .map {
            display: block;
            width: 100%;
            height: 650px;
            border: 0;
        }
    }
}

@include breakpoint(tablet) {
    .streetMaps {
        .blockContent {
            .map {
                height: 450px;
            }
        }
    }
}


@include breakpoint(mobile) { 
    .streetMaps {
        .blockContent {
            .map {
                height: 320px;
            }
        }   
    }   
}