@import '../../../assets/sass/modules/mixins.scss';

.navbarRight {
    height: 56px;
    display: flex;
    align-items: center;
    .navigationRight {
        @include flex();
        list-style: none;
        .menuListItems {
            position: relative;
            padding: 0 10px;
            padding-top: .5rem;
            padding-bottom: .5rem;
            .items {
                font-size: 16px;
                text-transform: uppercase;
                font-weight: 600;
                &:hover {
                    &::before {
                        content: '';
                        position: absolute;
                        margin-left: 10px;
                        bottom: 0;
                        left: 0;
                        height: 2px;
                        background-color: #0078ff;
                        width: 35px;
                    }
                }
                &.active {
                    &::before {
                        content: '';
                        position: absolute;
                        margin-left: 10px;
                        bottom: 0;
                        left: 0;
                        height: 2px;
                        background-color: #0078ff;
                        width: 35px;
                    }
                }
                span {
                    color: #0078ff;
                }
            }
        }  
    }
}

@include breakpoint(tactil) {
    .navbarRight {
        display: none;
    }
}