@import '../../assets/sass/modules/mixins.scss';

.section {
    padding-top: 4rem;
    display: block;
    .container {
        margin-right: auto;
        margin-left: auto;
        .blockTitle {
            position: relative;
            min-height: 1px;
            padding-right: 15px;
            padding-left: 15px;
            margin-bottom: 4rem;
            .title {
                font-size: 3rem;
                font-weight: bold;
                text-transform: uppercase;
                color: #1e1e1e;
                margin-bottom: .5rem;
                line-height: 1.2;
                margin-top: 0;
            }

            .subtitle {
                color: #4e4e4e;
                margin-top: 0;
                margin-bottom: 1rem;
            }

            .line {
                width: 40px;
                height: 5px;
                background-color: #0078ff;
                margin: 0 auto;
            }
        }
    }
}

@include breakpoint(desktop) {
    .section {
        .container {
            max-width: 1140px;
        }
    }
}

@include breakpoint(laptop) {
    .section {
        .container {
            max-width: 920px;
        }
    }
}

@include breakpoint(tactil) {
    .section {
        .container {
            @media screen and (min-width: 770px) and ( max-width: 1080px) {
                max-width: 720px !important;
           }
        }
    }
}

@include breakpoint(tablet) {
    .section {
        .container {
            max-width: 600px;
        }
    }
}

@include breakpoint(mobile) {
    .section {
        .container {
            .blockTitle {
                .title {
                    font-size: 2.5rem;
                }
            }
        }
    }
}