@import '../../../../assets/sass/modules/mixins.scss';

.sectionContact {
    padding: 1rem 0 4rem 0;
    .content {
        display: flex;
        flex-wrap: wrap;
        position: relative;
        min-height: 1px;
        padding: 0 15px;
        .container {
            padding: 4rem 3rem;
            position: relative;
            background-color: #fff;
            z-index: 2;
            box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.06), 0 2px 5px 0 rgba(0, 0, 0, 0.2);
            width: 100%;
            .block {
                display: flex;
                flex-wrap: wrap;
                margin: 0 -15px;
                .blockItem {
                    width: 100%;
                    flex: 0 0 50%;
                    .blockContainer {
                        position: relative;
                        min-height: 1px;
                        padding: 0 15px;
                        .titleContainer {
                            margin-bottom: 3rem;
                            .title {
                                margin: 0 0 .5rem 0;
                                font-family: inherit;
                                font-weight: 500;
                                line-height: 1.2;
                                text-align: left;
                                font-size: 2rem;
                                position: relative;
                                color: #1e1e1e;
                                &:before {
                                    content: '';
                                    position: absolute;
                                    height: 3px;
                                    background-color: #0078ff;
                                    width: 100px;
                                    bottom: -12px;
                                }
                            }
                        }
    
                        .blockContent {                        
                            .blockInfo {
                                .infoTitleContainer {
                                    color: #1e1e1e;
                                    text-align: left;
                                    
                                    .infoTitle {
                                        font-family: inherit;
                                        font-weight: 500;
                                        line-height: 1.2;
                                        font-size: 1.75rem;
                                        margin-bottom: .75rem;
                                    }
                                }
    
                                .infoContainer {
                                    text-align: left;
                                    .info {
                                        font-size: 1.25rem;
                                        font-weight: 300;
                                    }
    
                                    .address, .phone, .email {
                                        line-height: 2;
                                        .icon {
                                            color: #0078ff;
                                            margin-right: 10px;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

@include breakpoint(tactil) {
    .sectionContact {
        .content {
            .container {
                .block {
                    .blockItem {
                        width: 100%;
                        flex: 0 0 100%;
                        margin-bottom: 3rem;
                        &:last-child {
                            margin-bottom: 0;
                        }
                    }
                }
            }
        }
    }
}

@include breakpoint(mobile) {
    .sectionContact {
        .content {
            .container {
               padding: 3rem 2rem;
            }
        }
    } 
}