@import '../../../assets/sass/modules/mixins.scss';

.sectionPortfolio {
    padding: 1rem 0 0 0;
    .content {
        position: relative;
        min-height: 1px;
        .container {
            position: relative;
            z-index: 2;
            width: 100%;
        }
    }    
}